
<h3>Frozen Columns - example</h3>
<p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="inkomsten" [scrollable]="true" scrollHeight="200px" frozenWidth="200px">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
        <col *ngFor="let col of columns" style="width:40px"><!-- stel hier breedte van de scrollable cols in -->
    </colgroup>
</ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer"  let-columns>
    <tr>
      <td *ngFor="let col of columns">
        Totaal
      </td>
    </tr>
  </ng-template>
</p-table>


<br />
<h3>Inkomsten</h3>
<p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="inkomsten" [scrollable]="true"
scrollHeight="200px" frozenWidth="200px" >
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width:90px"><!-- stel hier breedte van de scrollable cols in -->
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  

    <ng-template pTemplate="footer" let-columns>
        <tr>
            <td *ngFor="let col of columns">
               sdf
            </td>
        </tr>
    </ng-template>

    
