<div style="background-color:lightgrey; width:1000px;">
  <b>Problem description: Layout is broken when I only have a limited number of rows</b>
  <ul>
    <li>See below 2 tables: the 1st one looks "great", the second one has a 'broken layout'.</li>
    <li>Click <a target="_blank" href="assets/TableLayoutIncorrect.png">here</a> to see a picture of the problem
      (I added it to be sure the problem is visible). </li>
    <li>Browser: latest chrome version (87.0.4280.88) but same problem in edge and firefox</li>
    <li>I seem to be able to 'fix' it by playing with scrollHeight property of p-table, however the number of rows that
      will end-up in my table is 'dynamic'
    </li>
<li>My expectation is that I could set scrollHeight to 500px even if I only have 2 records (...). then I would expect no scrollbar 
  (and a non-broken layout)
</li>
<li>How can this be fixed?</li>
  </ul>
</div>


<hr />

<h3>Frozen Columns - <span class="bgYellow">with problem</span></h3>
<p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="carsSmall" [scrollable]="true"
  scrollHeight="140px" frozenWidth="200px">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" style="width:60px"><!-- stel hier breedte van de scrollable cols in -->
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer" let-columns>
    <tr>
      <td *ngFor="let col of columns">
        Total
      </td>
    </tr>
  </ng-template>
</p-table>

<h3>Frozen Columns - <span class="bgYellow">without problem</span></h3>
<p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="cars" [scrollable]="true" scrollHeight="140px"
  frozenWidth="200px">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" style="width:60px"><!-- stel hier breedte van de scrollable cols in -->
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer" let-columns>
    <tr>
      <td *ngFor="let col of columns">
        Totaal
      </td>
    </tr>
  </ng-template>
</p-table>

